<template>
  <v-card class="mx-auto my-5" max-width="800" tile>
    <v-list rounded>
      <v-list-item-group v-model="selectedItem" color="primary">
        <v-list-item v-for="(item, i) in items" :key="i">
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>
<script>
export default {
  data: () => ({
    selectedItem: 1,
    items: [
      {
        text: "The game is played on a grid that's 3 squares by 3 squares.",
        icon: "mdi-star-circle-outline",
      },
      {
        text: "You are O, your friend is X. Players take turns putting their marks in empty squares.",
        icon: "mdi-star-circle-outline",
      },
      {
        text: "The first player to get 3 of her marks in a row (up, down, across, or diagonally) is the winner.",
        icon: "mdi-star-circle-outline",
      },
      {
        text: "When all 9 squares are full, the game is over.",
        icon: "mdi-star-circle-outline",
      },
    ],
  }),
};
</script>
