<template>
  <v-container class="pt-5 max-height">
    <template>
      <v-tabs color="#46cedf" centered v-model="tab">
        <v-tab :disabled="isPlaying">Select Players</v-tab>
        <v-tab :disabled="!isPlaying">Current Match</v-tab>
      </v-tabs>
    </template>
    <v-tabs-items v-model="tab" class="px-10 d-flex justify-center">
      <v-tab-item>
        <player-form
          @createMatch="createMatch"
          @continueMatch="continueMatch"
        />
      </v-tab-item>
      <v-tab-item>
        <v-sheet v-if="!isLoadingData">
          <game-screen
            @playerMove="saveMatch"
            :currentMatch="currentMatch"
            :currentMatchID="currentMatchID"
          />
          <game-options :status="currentMatch.status" @toggleTab="toggleTab" />
        </v-sheet>
        <v-sheet
          v-else
          class="d-flex align-center justify-center loader-placeholder"
        >
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>
        </v-sheet>
      </v-tab-item>
    </v-tabs-items>
    <v-snackbar v-model="snackbar" top right>
      {{ error }}
      <template v-slot:action="{ attrs }">
        <v-btn color="red" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import GameOptions from "../components/GameOptions";
import GameScreen from "../components/GameScreen";
import PlayerForm from "../components/PlayerForm";
import { mapGetters } from "vuex";

export default {
  name: "Home",
  data() {
    return {
      error: "",
      tab: "",
      isValidForm: true,
      snackbar: false,
      isPlaying: false,
    };
  },
  components: {
    GameOptions,
    GameScreen,
    PlayerForm,
  },
  computed: {
    ...mapGetters([
      "currentMatchID",
      "currentMatch",
      "playerOneName",
      "playerTwoName",
      "isLoadingData",
    ]),
  },
  async created() {
    try {
      // si no existe un indetificador de juego entonces pregunte si existe uno en la db
      if (this.currentMatchID != "") this.getMatchById(this.currentMatchID);
    } catch (error) {
      this.error = error;
    }
  },
  methods: {
    getMatchById(val) {
      try {
        // si tiene un identifiador de juego valido, entonces busque en la db dicho juego
        if (val != "") {
          this.$store.dispatch("getMatchById", val);
          this.toggleTab(1);
          this.isPlaying = true;
        } else this.toggleTab(0);
      } catch (error) {
        this.error = error;
      }
    },
    createMatch() {
      this.saveMatch(); //si la validación de los nombres de los jugadores fué positiva, puede crear un nuevo juego
    },
    continueMatch(id) {
      this.$store.dispatch("setCurrentMatchID", id);
    },
    toggleTab(val) {
      // cambia la tab activa
      this.tab = val;
      this.isPlaying = val == 0 ? false : true;
      if (val == 0) this.$store.dispatch("setCurrentMatchID", "");
    },
    saveMatch(data) {
      //guarda un juego actual
      const newMatch = !data; // evalua si existe un juego actual, para saber si es nuevo o existente
      const matchToSave = {
        // crea el objeto para ser guardado/actualizado
        playerMoves: newMatch
          ? [
              {
                squares: Array(9).fill(null),
              },
            ]
          : data.playerMoves,
        playerOneName: newMatch
          ? this.playerOneName
          : this.currentMatch.playerOneName,
        playerTwoName: newMatch
          ? this.playerTwoName
          : this.currentMatch.playerTwoName,
        status: newMatch ? this.playerOneName + "'s turn" : data.status,
        turnNumber: newMatch ? 0 : data.turnNumber,
      };
      if (!newMatch) {
        // si es un juego existente entonces le asigna el identificador del mismo
        matchToSave.id = this.currentMatchID;
      }
      this.$store.dispatch("saveMatch", matchToSave); // envia la petición de guardado
      this.tab = 1; // como ya existe un juego, vamos al tab de juego
    },
  },
  watch: {
    currentMatchID: function (val) {
      // si encontró un nuevo identificador de juego entonces solicitelo
      this.getMatchById(val);
    },
  },
};
</script>
<style scoped lang="scss">
.max-height {
  height: 90vh;
}
.loader-placeholder {
  height: 300px;
}
</style>
