<template>
  <v-container class="pt-5 pb-2">
    <v-row class="d-flex justify-center">
      <button class="square" v-on:click="click(0)">
        {{ turns[turnNumber].squares[0] }}
      </button>
      <button class="square" v-on:click="click(1)">
        {{ turns[turnNumber].squares[1] }}
      </button>
      <button class="square" v-on:click="click(2)">
        {{ turns[turnNumber].squares[2] }}
      </button>
    </v-row>
    <v-row class="d-flex justify-center">
      <button class="square" v-on:click="click(3)">
        {{ turns[turnNumber].squares[3] }}
      </button>
      <button class="square" v-on:click="click(4)">
        {{ turns[turnNumber].squares[4] }}
      </button>
      <button class="square" v-on:click="click(5)">
        {{ turns[turnNumber].squares[5] }}
      </button>
    </v-row>
    <v-row class="d-flex justify-center">
      <button class="square" v-on:click="click(6)">
        {{ turns[turnNumber].squares[6] }}
      </button>
      <button class="square" v-on:click="click(7)">
        {{ turns[turnNumber].squares[7] }}
      </button>
      <button class="square" v-on:click="click(8)">
        {{ turns[turnNumber].squares[8] }}
      </button>
    </v-row>
    <v-row class="py-2">
      <v-tooltip right v-model="showTooltip">
        <template v-slot:activator="{ attrs }">
          <v-btn @click="copyToClipboard()" light v-bind="attrs">
            <small
              >Match ID: <b>{{ currentMatchID }}</b></small
            >
            <v-icon>mdi-content-copy</v-icon>
          </v-btn>
        </template>
        <span>Match Id copied to clipboard</span>
      </v-tooltip>
    </v-row>
    <v-row class="py-2 d-flex flex-column">
      <p>
        Player (O): <b>{{ currentMatch.playerOneName }}</b>
      </p>
      <p>
        Player (X): <b>{{ currentMatch.playerTwoName }}</b>
      </p>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "GameScreen",
  data() {
    return {
      turns: [
        {
          squares: Array(9).fill(null),
        },
      ],
      xIsNext: true,
      turnNumber: 0,
      showTooltip: false,
      status: "playing",
    };
  },
  props: {
    currentMatch: {
      required: true,
      default: () => {},
      type: Object,
    },
    currentMatchID: {
      required: true,
      default: () => "",
      type: String,
    },
  },
  mounted() {
    this.setData();
  },
  methods: {
    copyToClipboard() {
      navigator.clipboard.writeText(this.currentMatchID);
      this.showTooltip = true;
      setTimeout(()=>{
        this.showTooltip = false;
      },1000);
    },
    setData() {
      //rellena los datos de juego que llegan desde db
      if (Object.keys(this.currentMatch).length > 0) {
        this.turns = this.currentMatch.playerMoves;
        this.status = this.currentMatch.status;
        this.turnNumber = this.currentMatch.turnNumber;
        this.xIsNext = this.turnNumber % 2;
      }
    },
    playerMove() {
      // cada que un jugador realiza un movimiento, emite evento para guardar el progreso
      this.$emit("playerMove", {
        playerMoves: this.turns,
        turnNumber: this.turnNumber,
        status: this.status,
      });
    },
    click(square) {
      // cada que un jugador realiza un clic en una casilla
      const turns = this.turns; // refencia a turnos
      const squares = turns[turns.length - 1].squares.slice(); // se establecen las casillas basadas en la inforamción contenida en turnos

      if (squares[square] || this.calculateWinner(squares)) {
        // verifica si ya no se puede mover, o si la casilla ya está ocupada en ese caso no hace nada
        return;
      }

      squares[square] = this.xIsNext ? "X" : "O"; // valida que caractér pintar y lo pone en la casilla correspondiente

      this.turns = turns.concat([
        {
          // rellena los movimientos con el nuevo movimiento
          squares: squares,
        },
      ]);

      this.turnNumber = this.turns.length - 1; // calcula el número de turno actual

      if (this.calculateWinner(squares)) {
        // verifica si fué jugada ganadora
        this.status =
          (this.turnNumber % 2
            ? this.currentMatch.playerOneName
            : this.currentMatch.playerTwoName) + " wins";
      } else if (squares.filter((el) => el == null).length == 0) {
        // verifica que aún hallan casillas para jugar
        this.status = "it's a tie";
      } else {
        // de lo contrario asigna un nuevo movimiento
        this.xIsNext = !this.xIsNext;
        this.status =
          (this.turnNumber % 2
            ? this.currentMatch.playerTwoName
            : this.currentMatch.playerOneName) + "'s turn";
      }
      this.playerMove(); // llama al guardado de la db
    },
    calculateWinner(squares) {
      // método que calcula las condiciones de victoria
      const lines = [
        //condiciones de victoria posibles
        [0, 1, 2],
        [3, 4, 5],
        [6, 7, 8],
        [0, 3, 6],
        [1, 4, 7],
        [2, 5, 8],
        [0, 4, 8],
        [2, 4, 6],
      ];
      for (let i = 0; i < lines.length; i++) {
        // itera sobre las conficiones de victoria
        const [a, b, c] = lines[i];
        if (
          squares[a] &&
          squares[a] === squares[b] &&
          squares[a] === squares[c]
        ) {
          return squares[a];
        }
      }
      return null;
    },
  },
  watch: {
    currentMatch: function () {
      this.setData();
    },
  },
};
</script>
<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$square-size: 80px;
$square-color: #46cedf;

.square {
  border: 1px solid $square-color;
  float: left;
  color: $square-color;
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif !important;
  line-height: 34px;
  height: $square-size;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: $square-size;
}
.square:focus {
  outline: none;
}
</style>
