<template>
  <v-container class="py-5">
    <v-row class="d-flex justify-center">
      <b> {{ status }} </b>
    </v-row>
    <v-row class="text-center">
      <v-col cols="12">
        <v-btn @click="toggleTab"> New Match </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "GameOptions",

  props: {
    status: {
      type: String,
      required: true,
      default: "",
    },
  },
  methods: {
    toggleTab() {
      this.$emit("toggleTab", 0); // emite evento para crear un nuevo juego
    },
  },
};
</script>
