<template>
  <v-sheet class="py-5 d-flex justify-center flex-column">
    <v-form ref="NewMatchForm" v-model="valid" lazy-validation>
      <h5>Nueva partida</h5>
      <v-text-field
        v-model="playerOne"
        :counter="10"
        :rules="nameRules"
        label="Player One Name (O)"
        required
      ></v-text-field>

      <v-text-field
        v-model="playerTwo"
        :rules="nameRules"
        :counter="10"
        label="player Two Name (X)"
        required
      ></v-text-field>
      <v-sheet class="py-4">
        <v-btn
          :disabled="!valid"
          color="success"
          class="mr-4"
          @click="validateNewMatch"
        >
          New Match
        </v-btn>
      </v-sheet>
    </v-form>
    <v-form ref="ContinueForm" v-model="validID" lazy-validation>
      <h5>Continuar partida</h5>

      <v-text-field
        v-model="matchID"
        :rules="idRules"
        :counter="20"
        label="Match ID"
        required
      ></v-text-field>
      <v-sheet class="py-4">
        <v-btn
          :disabled="!valid"
          color="#46cedf"
          dark
          class="mr-4"
          @click="validateContinue"
        >
          Continue Match
        </v-btn>
      </v-sheet>
    </v-form>
  </v-sheet>
</template>

<script>
export default {
  name: "PlayerForm",
  data: () => ({
    valid: true,
    validID: true,
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    idRules: [
      (v) => !!v || "Match ID is required",
      (v) => (v && v.length == 20) || "Name must be 20 characters",
    ],
    matchID: "",
    playerOne: "Jugador 1",
    playerTwo: "Jugador 2",
  }),
  methods: {
    validateNewMatch() {
      // valida si el formulario de nueva partida cumple con los requisitos
      const result = this.$refs.NewMatchForm.validate();
      if (result) {
        this.$store.dispatch("savePlayerNames", {
          playerOne: this.playerOne,
          playerTwo: this.playerTwo,
        }); // si la validación fué correcta escribe el estado con los campos
        this.$emit("createMatch"); // emite evento siempre que se valide para saber si se puede guardar o no el juego
      }
    },
    validateContinue() {
      // valida si el formulario de continuar cumple con los requisitos
      const result = this.$refs.ContinueForm.validate();
      if (result) {
        console.log("before emit", this.matchID);
        this.$emit("continueMatch", this.matchID); // emite evento siempre que se valide para saber si recupera el juego
      }
    },
    reset() {
      this.$refs.form.reset(); // limpia el formulario.
    },
  },
};
</script>
