<template>
  <v-app>
    <v-app-bar app color="white" light>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https:www.mariootalvaro.com/img/tic-tac-toe.png"
          transition="scale-transition"
          width="60"
        />

        <h3 class="display">Tic Tac Toe</h3>
      </div>

      <v-spacer></v-spacer>

      <router-link to="/about" v-if="this.$route.path == '/'">
        <v-btn text>
          <span class="mr-2">Instructions</span>
          <v-icon>mdi-information-outline</v-icon>
        </v-btn>
      </router-link>
      <router-link to="/" v-else>
        <v-btn text>
          <span class="mr-2">Back to game</span>
          <v-icon>mdi-gamepad-square</v-icon>
        </v-btn>
      </router-link>

      <v-spacer></v-spacer>

      <v-btn href="https:www.mariootalvaro.com" target="_blank" text>
        <span class="mr-2">About Me</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    //
  }),
};
</script>
